h3 {
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #444;
  font-family: 'Dancing Script', cursive;
  text-shadow: 10px 6px 4px rgba(0, 0, 0, 0.4);
}
button {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 10px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid transparent;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.8);
  background-color: #444;
  color: #fff;
}
button:hover {
  background-color: #666;
  color: #fff;
   text-decoration: underline;
}